
# Dependency directories
node_modules/

# Slither
slither/

# Downloads
contracts/

# Environment
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Python
venv/
python/venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
